.accordion-header {
  height: auto !important;
}

.accordion-header .arrow {
  display: none !important;
}

.accordion-header {
  font-size: 12px !important;
  text-indent: 0px !important;
  line-height: 20px !important;
}
