@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: calc(50% - 40px);
    margin-top: -10px;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

.spinner.spinner-xs:before {
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    border-top-color: #009688;
}

.spinner.spinner-sm:before {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-top-color: #009688;
}

.spinner.spinner-md:before {
    width: 40px;
    height: 40px;
    border: 3px solid #ccc;
    border-top-color: #009688;
}