/*@import '~antd/dist/antd.css';*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  background-color: rgba(0, 150, 136, 0.05);
}

html, body, #root {
  height: 100%;
}

.ant-tag {
    height: 28px;
    line-height: 26px;
}

.ant-tabs-bar {
    margin-bottom: 0;
}

.ant-alert-with-description .ant-alert-description {
    white-space: pre-wrap;
}