/*@import '~antd/dist/antd.css';*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

.ant-tag {
  height: 28px;
  line-height: 26px;
}

.ant-tabs-bar {
  margin-bottom: 0;
}

.ant-alert-with-description .ant-alert-description {
  white-space: pre-wrap;
}

.ant-progress.ant-progress-status-active .ant-progress-inner .ant-progress-circle .ant-progress-circle-path {
  stroke: #ff972b !important;
}

.ant-progress.ant-progress-status-exception .ant-progress-inner .ant-progress-circle .ant-progress-circle-path {
  stroke: #f5222d !important;
}

.ant-progress.ant-progress-status-success .ant-progress-inner .ant-progress-circle .ant-progress-circle-path .ant-progress-circle-path {
  stroke: #52c41a !important;
}

.ant-card-head-title {
  color: rgb(103, 106, 108) !important;
}

h1, h2, h3, h4, h5 {
  color: rgb(103, 106, 108) !important;
}

.ant-layout {
  background-color: #f3f3f4 !important;
}

.ant-layout-header {
  background-color: #2f4050;
}

.ant-menu-dark.ant-menu-horizontal {
  border-bottom: #2f4050;
}

.ant-menu-dark {
  background-color: #2f4050;
}

.ant-menu-dark, .ant-menu-dark .ant-menu-sub {
  background: #2f4050;
}

.ant-menu-item-active, .ant-menu-item:hover, .ant-menu-submenu-active, .ant-menu-submenu-title:hover, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
  color: #fff;
}

.ant-menu-item-active, .ant-menu-item, .ant-menu-submenu-active, .ant-menu-submenu-title:hover, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
  color: #fff;
}

.ant-table-tbody>tr.ant-table-row-hover>td, .ant-table-tbody>tr:hover>td, .ant-table-thead>tr.ant-table-row-hover>td, .ant-table-thead>tr:hover>td {
  background: rgba(38, 195, 164, 0.1);
}

.ant-table-tbody>tr>td.no-padding-column {
  padding: 0 !important;
}

.ant-table-thead > tr > th {
  color: rgb(103, 106, 108) !important;
}

#performance-goals-card > .ant-card > div > .ant-card-head > .ant-card-head-wrapper > .ant-card-head-title {
  font-size: 26px !important;
}

.ant-table-tbody>tr>td, .ant-table-thead>tr>th {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.ant-table {
  font-size: 13px;
}

.ant-carousel .slick-dots li button,
.ant-carousel .slick-dots li.slick-active button {
  background: #cecece;
}

.ant-carousel .slick-prev {
  left: -15px;
}
.ant-carousel .slick-next {
  right: 0;
}

.ant-carousel .slick-prev:before,
.ant-carousel .slick-next:before{
  color: #cecece;
  font-size: 36px;
}

.selectable-table {
  cursor: pointer;
}